
@{ 
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

<div class="content-top">
    <h1>DEV-TEST-MODE ver 2.01</h1>
    
    @Html.RouteLink("Click here to view Member in DB", "test_Member")

    <br><br>

    @Html.RouteLink("Click here to view  Product in DB", "test_Product")
            
</div>