
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhachhangIndex</title>
</head>
<body>
    <div> 
        <h3>Member in DB</h3>
    </div>
</body>
</html>
