@using AuthStore.Models;
@model  IEnumerable<SanPham>


@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/_ProductsLayout.cshtml";


}

<div class="col-md-9 product1">
    <div class=" bottom-product">
        @foreach (var item in Model.OrderBy(n => n.DonGia))
        {
            <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                <div class="product-at ">
                    <a href="@Url.RouteUrl("XemChiTiet", new{ @id = item.MaSP, @tensp = item.TenSP})">
                        <img class="img-responsive" src="@Url.Content("~/Content/images/product/"+item.HinhAnh+".jpg")" alt="">
                        <div class="pro-grid">
                            <span class="buy-in">Buy Now</span>
                        </div>
                    </a>
                </div>
                <p class="tun">@item.TenSP</p>
                <a href="#" class="item_add"><p class="number item_price"><i></i>@item.DonGia VND</p></a>
            </div>

        }
        <div class="clearfix"> </div>
    </div>
</div>
